---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

You can find my publications in the following links:

<div class="wordwrap" style="margin-bottom: 1em;">
  {% if site.author.ads %}
    <a href="{{ site.author.ads }}" target="_blank">ADS</a>
  {% endif %}
  {% if site.author.ads_1st %}
    &nbsp;|&nbsp;<a href="{{ site.author.ads_1st }}" target="_blank">First-author</a>
  {% endif %}
  {% if site.author.googlescholar %}
    &nbsp;|&nbsp;<a href="{{ site.author.googlescholar }}" target="_blank">Scholar</a>
  {% endif %}
  {% if site.author.orcid %}
    &nbsp;|&nbsp;<a href="{{ site.author.orcid }}" target="_blank">ORCID</a>
  {% endif %}
</div>


